img[alt="RC Circuit Diagram"] {
    width: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img[alt="RC AC Response"] {
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img[alt="Butterworth Circuit Diagram"] {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img[alt="Butterworth Transient Response"] {
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img[alt="Butterworth AC Response"] {
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img[alt="Butterworth Noise Spectrum"] {
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img[alt="Biased Amplifier Circuit Diagram"] {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img[alt="Biased Amplifier Transient Analysis"] {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img[alt="Biased Amplifier Sensitivity Analysis"] {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img[alt="Biased Amplifier Sensitivity Comparison"] {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img[alt="OTA Circuit Diagram"] {
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img[alt="OTA DC Analysis"] {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img[alt="CMOS Inverter Circuit Diagram"] {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img[alt="CMOS Inverter Transient Analysis"] {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img[alt="D-type Flip Flop Circuit Diagram"] {
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img[alt="D-type Flip Flop Digital Logic"] {
    width: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img[alt="D-type Flip Flop Transient Analysis"] {
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img[alt="Impedance Matcher Circuit Diagram"] {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img[alt="Impedance Matcher Transient Analysis"] {
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img[alt="Impedance Matcher Sensitivity Analysis"] {
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
